<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="f91c2bd2-916e-47a7-937f-ee2c6545f274" wsaVersion="NONE" name="USZipSoap12" type="wsdl" bindingName="{http://www.webserviceX.NET}USZipSoap12" soapVersion="1_2" anonymous="optional" definition="http://www.webservicex.net/uszip.asmx?WSDL" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="f91c2bd2-916e-47a7-937f-ee2c6545f274fileName">USZipSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.webservicex.net/uszip.asmx</con:endpoint></con:endpoints></con:interface>