<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="50b56194-94e0-4b46-9352-889e58d4bf38" name="Project 8 TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="50b56194-94e0-4b46-9352-889e58d4bf38fileName">Project-8-TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>